# Django Settings
DEBUG=False
SECRET_KEY=django-insecure-k&s3cy9r9imquq&hp22w2fo3jiokcyxsnyns&_o=tyvbjo0^^x
ALLOWED_HOSTS=.vercel.app

# Database Settings
# Required in production (Vercel):
DATABASE_URL=postgres://user:password@host:port/dbname

# For local development (optional, defaults to SQLite):
# DATABASE_URL=sqlite:///db.sqlite3
