# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-k&s3cy9r9imquq&hp22w2fo3jiokcyxsnyns&_o=tyvbjo0^^x
ALLOWED_HOSTS=localhost,127.0.0.1,*.replit.dev,*.replit.app

# Database Settings
# For SQLite:
DATABASE_URL=sqlite:///db.sqlite3
# For PostgreSQL (Production):
# DATABASE_URL=postgres://user:password@host:port/dbname
